:root {
  --primary-font: "Roboto", sans-serif;
  --primary-text-color-theme-dark: #212121;
  --secondary-color-theme-gray: #757575;
  --primary-text-color-theme-light: #ffffff;
  --secondary-text-color-theme-dark: #000000;
  --button-color: #188ce8;
  --accent-color: #2196f3;
  --primary-background-color-theme-light: #f5f4fa;
  --secondary-background-color-theme-light: #2f303a;
  --secondary-text-color-4footer-gray: rgba(255, 255, 255, 0.6);
  --border-color-for-portfolio: #eeeeee;
  --hero-overlay: rgb(47, 48, 58, 0.4);
  --new-bg-color-hero: #c4c4c4;
  --icon-color: #afb1b8;
  --portfolio-overlay-bg: rgba(33, 150, 243, 0.9);
  --trnsform-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.footer-link, .social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link,
.logo,
.email,
.phone,
.phone-footer,
.email-footer,
.address,
.portfolio-card__link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list,
.menu-list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address-data {
  font-style: normal;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-text-color-theme-light);
  color: var(--primary-text-color-theme-dark);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-text-color-theme-dark);
  margin-right: 93px;
}

.logo__web {
  color: var(--accent-color);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: solid var(--accent-color);
  margin: auto;
  padding: 10px 32px;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-header {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.menu-list :hover, .menu-list :focus {
  color: var(--accent-color);
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu-list__item {
  transition: color var(--trnsform-cubic);
}

.link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
  padding: 32px 0px;
}

.menu-list__current {
  color: var(--accent-color);
}
.menu-list__current::after, .menu-list__current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.email,
.phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color-theme-gray);
  fill: currentColor;
  padding: 1px;
}

.email {
  margin-left: auto;
  margin-right: 50px;
}

.link,
.email,
.phone {
  transition: color var(--trnsform-cubic);
}

.menu-list__icon {
  margin-right: 10px;
  display: flex;
  fill: currentColor;
  align-items: center;
}

.hero-section {
  background-color: var(--new-bg-color-hero);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  width: 1600px;
  background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url(../images/hero/hero.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: url(../images/hero/hero-tablet@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: url(../images/hero/hero-tablet@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-section {
    background-image: url(../images/hero/hero@2x.jpg);
  }
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

.features-section {
  padding-top: 94px;
}

.features-list {
  display: flex;
}

.features-list__item {
  width: 270px;
}
.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__text {
  line-height: 1.71;
  color: var(--secondary-color-theme-gray);
}

.features-list__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--primary-background-color-theme-light);
  margin-bottom: 30px;
}

.list-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.what-we-do-section {
  padding-bottom: 94px;
}

.what-we-do__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

.what-we-do__card {
  position: relative;
}

.what-we-do__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--primary-background-color-theme-light);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__card {
  background-color: var(--primary-text-color-theme-light);
  border-bottom: 1px solid var(--primary-text-color-theme-light);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__data {
  padding: 30px 0;
}

.team__teammate {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color-theme-gray);
  margin-bottom: 16px;
}

.social-networks {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-text-color-theme-light);
  color: var(--icon-color);
  transition: color var(--trnsform-cubic), background-color var(--trnsform-cubic);
}

.social-networks__icon {
  fill: currentColor;
  transition: fill var(--trnsform-cubic), background-color var(--trnsform-cubic);
}

.social-networks__item :hover,
.social-networks__item :focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
}

.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid;
  color: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--trnsform-cubic);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
}

.clients__img {
  fill: currentColor;
  transition: fill var(--trnsform-cubic);
}
.clients__img:hover, .clients__img:focus {
  fill: currentColor;
}

.footer {
  background: var(--secondary-background-color-theme-light);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  line-height: 1.71;
  color: var(--primary-text-color-theme-light);
}

.email-footer,
.phone-footer {
  line-height: 1.71;
  color: var(--secondary-text-color-4footer-gray);
  transition: color var(--trnsform-cubic);
}
.email-footer:hover, .email-footer:hover, .email-footer:focus, .email-footer:focus,
.phone-footer:hover,
.phone-footer:hover,
.phone-footer:focus,
.phone-footer:focus {
  color: var(--accent-color);
}

.address-data {
  margin-top: 20px;
}

.addres-text:not(:last-child) {
  margin-bottom: 9px;
}

.studio-footer {
  color: var(--primary-text-color-theme-light);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 20px;
}

.footer-ul {
  display: flex;
  justify-content: baseline;
  column-gap: 10px;
}

.footer-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-text-color-theme-light);
  transition: color var(--trnsform-cubic), background-color var(--trnsform-cubic);
}

.icon-footer {
  fill: currentColor;
  transition: fill var(--trnsform-cubic), background-color var(--trnsform-cubic);
}

.footer-link-li :hover,
.footer-link-li :focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
}

.neigborhood {
  width: 231px;
  margin-right: 70px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-form-email {
  display: flex;
}

.footer-form {
  width: 570px;
  margin-left: auto;
}

.footer-input {
  display: inline;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  display: inline;
  position: relative;
  width: 200px;
  height: 50px;
  padding-left: 8px;
  margin-right: 0;
}

.icon-sign-up {
  position: absolute;
  margin-left: 10px;
}

.portfolio-section {
  padding-top: 100px;
  padding-bottom: 88px;
}

.portfolio-menu__btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--primary-background-color-theme-light);
  cursor: pointer;
  border-radius: 4px;
  border: solid var(--primary-background-color-theme-light);
  padding: 6px 22px;
  transition: color var(--trnsform-cubic), background-color var(--trnsform-cubic), border var(--trnsform-cubic), box-shadow var(--trnsform-cubic);
}

.portfolio-menu__btn-all {
  padding: 6px 25px;
}

.portfolio-menu__item :hover,
.portfolio-menu__item :focus {
  color: var(--primary-text-color-theme-light);
  background-color: var(--accent-color);
  border: solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 4px;
}

.portfolio-card__direction {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color-theme-gray);
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card__text {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color-for-portfolio);
  border-right: 1px solid var(--border-color-for-portfolio);
  border-bottom: 1px solid var(--border-color-for-portfolio);
}

.portfolio-card__link {
  display: block;
  transition: box-shadow var(--trnsform-cubic);
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__link:hover .portfolio-card__overlay-text, .portfolio-card__link:focus .portfolio-card__overlay-text {
  transform: translateY(0%);
}

.portfolio-card__overlay {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.portfolio-card__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: var(--trnsform-cubic);
  height: 100%;
  width: 100%;
  background-color: var(--portfolio-overlay-bg);
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  color: var(--primary-text-color-theme-light);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--trnsform-cubic);
}
.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-name-field {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  color: var(--secondary-color-theme-gray);
  margin-bottom: 4px;
}

.modal-form-lable {
  margin-bottom: 10px;
}

.input-field-icon {
  position: relative;
}

.icon-modal-form {
  position: absolute;
  top: 0;
  left: 15px;
  fill: var(--primary-text-color-theme-dark);
  transition: fill var(--trnsform-cubic);
}

.modal-input:focus + .icon-modal-form {
  fill: var(--accent-color);
}

.modal-form-lable-coment {
  margin-bottom: 15px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--trnsform-cubic);
}
.modal-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check {
  appearance: none;
  position: absolute;
}

.modal-form-terms {
  color: var(--accent-color);
}

.modal-form-submit {
  width: 200px;
  height: 50px;
  border: 1px solid var(--accent-color);
}

.modal-form-label-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-theme-gray);
}

.modal-form-check-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color-theme-dark);
  border-radius: 2px;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
  margin-right: 7px;
  transition: background-color var(--trnsform-cubic), border-color var(--trnsform-cubic);
}
.modal-form-check:focus + .modal-form-check-icon {
  box-shadow: 0 0 0 2px var(--accent-color);
}
.modal-form-check:checked + .modal-form-check-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form-check-mark {
  display: none;
  fill: var(--primary-text-color-theme-light);
  transition: fill var(--trnsform-cubic);
}
.modal-form-check:checked + .modal-form-check-icon .modal-form-check-mark {
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-text-color-theme-light);
  padding: 40px;
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
  fill: var(--secondary-text-color-theme-dark);
  transition: color var(--trnsform-cubic);
}
.button-close:hover, .button-close:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */