
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .features-list__item {
    width: 270px;
  //   &:not(:last-child) {
  //   margin-right: 30px;
  // }
  }
  .features-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    margin-bottom: 10px;
  }
  .features-list__text {
    line-height: 1.71;
    color: var(--secondary-color-theme-gray);
  }
  
  .features-list__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    background-color: var(--primary-background-color-theme-light);
    margin-bottom: 30px;
  }
  @media screen and (max-width: 767px){
    .features-list__item{
      width: 100%;
      max-width: 450px;
    }
    .features-list__toumb{
      width: 100%;
      max-width: 450px;
    }
    .features-list__img{
      width: 100%;
      max-width: 450px;
    }
     .features-list__text{
      width: 100%;
      max-width: 450px;
      margin-bottom: 30px;
     }
     .features-list__title{
      text-align: center;
      width: 100%;
      max-width: 450px;
     }
    .features-list__item {
    margin-right: 0;
  }
  }
   @media screen and (min-width: 768px){
    .features-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    .features-list__item{
      width: 354px;
  //     &:nth-child(2n + 1) {
  //     margin-right: 30px;
  // }
    }
     .features-list__text{
      width: 354px;
     }
   }

   @media screen and (min-width: 1200px){
    .features-list__item{
      width: 270px;
    }
    .features-list__text{
      width: 270px;
     }
   }