.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--secondary-text-color-theme-dark);
    margin-right: 93px;
  }
  .logo__web {
    color: var(--accent-color);
  }
  